{% for key in keys %}
{{ key['key_type'] }} {{ key['public_key'] }} {{ username }}@{{ key['finger_print'] }} # created_at {{ key['created_at'] }}, valid_until {{ key['valid_until'] }}, expires_at {{ keys['expires_at'] }}
{% endfor%}