{% for key in keys %}
#from="{{ key['source_ip'] }}"
{{ key['key_type'] }} {{ key['public_key'] }} {{ username }}@{{ key['finger_print'] }} # created_at {{ key['created_at'] }}, valid_until {{ key['valid_until'] }}, expires_at {{ key['expires_at'] }}
{% endfor %}