<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ username }}</h1>
    <p>{{ message }}</p>
    <pre><code>
# do we really want to use the finger_print as the filename? how do keep the local files purged of useless keys?
# setup the local directories for the keypairs
mkdir -p {{ prefix_path }}
chmod 700 {{ prefix_path }}
# save the private key to local disk: note that we do not keep this on our servers. if you loosse this, you will need to recreate a new keypair
cat > {{ prefix_path}}/{{ keys['finger_print'] }} << EOF
{{ keys['private_key'] }}
EOF
chmod 600 {{ prefix_path}}/{{ keys['finger_print'] }}
# save the public key to local disk
cat > {{ prefix_path}}/{{ keys['finger_print'] }}.pub << EOF
{{ keys['public_key'] }}
EOF
chmod 600 {{ prefix_path}}//{{ keys['finger_print'] }}.pub
# add the key to the ssh config file
cat >> ~/.ssh/config << EOF
Host s3df sdfssh002.sdf.slac.stanford.edu s3dflogin-mfa.slac.stanford.edu
    User {{ username }} # hmm... how to deal with multiple...
    IdentityFile "{{ prefix_path}}/{{ keys['finger_print'] }}"
EOF
    </code></pre>
    This keypair ({{ keys['finger_print'] }}) was created_at {{ keys['created_at'] }} from source_ip {{ keys['source_ip'] }}, valid_until {{ keys['valid_until']}} and will expires_at {{ keys['expires_at'] }}.
</html>
