<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>Welcome to the SLAC SSH Proxy</h1>
    <p>This service allows you to manage your SSH key pairs for secure access to SLAC resources.</p>
    <p>
        <p><button onclick="window.location.href='/create/'" class="create">Create Keypairs</button></p>
        <p><button onclick="window.location.href='/list/{{ username }}'" class="list">List Keypairs</button></p> 
    </p>
</body>
</html>