<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>Welcome to the SLAC S3DF SSH Key Server</h1>
    <p>This service allows you to manage your SSH keypairs for secure access to S3DFresources.</p>
    <p>
        <p><button onclick="window.location.href='/register/'" class="create">Register Public Key</button></p>
        <p><button onclick="window.location.href='/list/{{ username }}'" class="list">List Public Keys</button></p> 
    </p>
</body>
</html>